body {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: aquamarine;
    font-family: 'Lilita One', cursive;
    padding-left: 5%;
    padding-right: 5%;
    justify-items: center;
  }
  
  .Scores {
    width: 80%;
    height: 80%;
  }
  
  .Rbutton {
    color: aquamarine;
    height: max-content;
    width: max-content;
    background-color: dimgrey;
    border-radius: 20%;
  }
  
  .ScoresTittle {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
  }
  
  .Recent {
    padding-right: 10px;
  }
  
  .ScoreList {
    list-style: none;
    border: 2px solid #89e9f8;
    color: cyan;
    padding: 10%;
  }
  
  .AddScores {
    width: 40%;
    height: 40%;
  }
  
  .ScoreInput {
    background-color: rgba(105, 105, 105, 0.335);
  }